1<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/adminHome.css}">
</head>
<body class="bordered1">
<div align="center">
<h1 style="color:orange;"><ADMIN PAGE></h1><br><br><br>
<a href="newSong" style="color:navy;">Add a new song</a>
<br>
<br>
<br>
<a href="viewSongs" style="color:navy;">View all songs</a>
<br>
<br>
<br>
<a href ="createPlayList" style="color:navy;">Create Playlist</a>
<br>
<br>
<br>
<a href="viewPlaylists" style="color:navy;">View all Playlists</a>
</div>
</body>
</html>